{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

	<form action="{{ path('fos_user_security_login_check') }}" method="post">
		{% if csrf_token('authenticate') %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
		{% endif %}

		<div class="form-group">
			<label for="username">{{ 'security.login.username'|trans }}</label>
			<input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control col-xl-8" required="required" autocomplete="username" />
		</div>

		<div class="form-group">
			<label for="password">{{ 'security.login.password'|trans }}</label>
			<input type="password" id="password" name="_password" required="required" class="form-control col-xl-8" autocomplete="current-password" />
		</div>

		<div class="form-group form-check custom-control custom-checkbox mb-5">
			<input type="checkbox" id="remember_me" name="_remember_me" value="on" class="custom-control-input" />
			<label for="remember_me" class="custom-control-label">{{ 'security.login.remember_me'|trans }}</label>
		</div>

		<div>
			<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary px-5" />
		</div>
	</form>
	{% if error %}
		<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

{% endblock %}
