{% extends "@FOSUser/Registration/register.html.twig" %}

{% block body %}
    {% if is_validate %}
        <p class="text-success">{% trans from "user" %}add_success{% endtrans %}</p>
        <a href="{{ path('cblog_admin') }}" class="btn btn-primary">
            {% trans from 'user' %}back{% endtrans %}
        </a>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock body %}

{% block register_form %}
    {% if not user.hasRole('ROLE_SUPER_ADMIN') %}
        <div class="form-group">
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
            {{ form_errors(form.roles) }}
        </div>
    {% endif %}

    {{ parent() }}
{% endblock register_form %}
