{% extends "@FOSUser/Registration/register.html.twig" %}

{% block body %}
    {% if is_validate %}
        <p class="text-success">L'utilisateur a bien été enregistré</p>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock body %}

{% block register_form %}
    <div class="form-group">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
        {{ form_errors(form.roles) }}
    </div>

    {{ parent() }}
{% endblock register_form %}
