{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

{{ form_start(form, {'method': 'post', 'action': path('admin_fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="form-group">
            {{ form_label(form.roles) }}
            {{ form_widget(form.roles, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
            {{ form_errors(form.roles) }}
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
        {{ form_errors(form.username) }}
    </div>

    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="form-group mb-5">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>

    {{ form_rest(form) }}

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary px-5" />
    </div>
{{ form_end(form) }}

{% endblock body %}
