{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
	<article>
		<header><h1>{{ article.title }}</h1></header>
		<aside>posté le {{ article.time|date("m/d/Y") }} par {{article.user.username}}</aside>
		<div>
			{{ article.content|raw }}
		</div>
	</article>
{% endblock %}
