{% extends 'base.html.twig' %}

{% block body %}

    {% if is_validate %}
        <p class="text-success">{{ validate_message }}</p>
        <p><a href="{{ path('cblog_admin') }}" class="btn btn-primary">Retour</a>
    {% else %}
        {{ form_start(form, {'method': 'post'}) }}

            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
                {{ form_errors(form.title) }}
            </div>

            <div class="form-group mb-5">
                {{ form_label(form.url) }}
                {{ form_widget(form.url, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
                {{ form_errors(form.url) }}
            </div>

            <div class="form-group">
                {{ form_widget(form.content) }}
                {{ form_errors(form.content) }}
            </div>            

            <div>
                {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-primary px-5' } }) }}
            </div>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endif %}

{% endblock %}
