{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <header><h1>Configuration</h1></header>
        <table class="table table-striped table-list">
            <tbody>
            {% for o in configs %}
                <tr>
                    <td class="w-75">{{ o.fullName }}</td>
                    <td>
                        <a href="{{ path('config_update', {'name': o.name}) }}" class="btn btn-primary float-right">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>

    <article>
        <header><h1>Gestion des utilisateurs</h1></header>
        <a href="{{ path('admin_user_add') }}" class="btn btn-primary">Ajouter un utilisateur</a>
        <a href="{{ path('admin_user_index') }}" class="btn btn-primary">Gérer les utilisateurs</a>
    </article>

    <article>
        <header><h1>Gestion des articles</h1></header>
        <a href="{{ path('admin_article_add') }}" class="btn btn-primary">Créer un article</a>
        <a href="{{ path('admin_article_index') }}" class="btn btn-primary">Gérer les articles</a>
    </article>

    <article>
        <header><h1>Gestion des pages</h1></header>
        <a href="{{ path('admin_page_add') }}" class="btn btn-primary">Créer une page</a>
        <a href="{{ path('admin_page_index') }}" class="btn btn-primary">Gérer les pages</a>
    </article>
{% endblock %}
