{% extends 'base.html.twig' %}

{% block body %}
    {% if is_validate %}
        <p class="text-success">{% trans from 'contact' %}success{% endtrans %}</p>
        <p><a href="{{ path('index') }}" class="btn btn-primary">{% trans from 'contact' %}back{% endtrans %}</a></p>
    {% else %}
        <h1>{% trans from 'contact' %}title{% endtrans %}</h1>

        {{ form_start(form, {'method': 'post'}) }}
            <div class="form-group">
                {{ form_label(form.from) }}
                {{ form_widget(form.from, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
                {{ form_errors(form.from) }}

                {{ form_label(form.object) }}
                {{ form_widget(form.object, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
                {{ form_errors(form.object) }}

                {{ form_label(form.message) }}
                {{ form_widget(form.message, { 'attr': { 'class': 'form-control col-xl-8' } }) }}
                {{ form_errors(form.message) }}
            </div>

            <div>
                {{ form_widget(form.save, { 'attr': { 'class': 'btn btn-primary px-5' } }) }}
            </div>

            {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
