<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{{ global_config['site_title'] }}{% endblock %}</title>
	
	{% block stylesheets %}
		{{ encore_entry_link_tags('style') }}
	{% endblock %}
	
	{% block javascript %}
		{{ encore_entry_script_tags('script') }}
	{% endblock %}

	<link rel="icon" href="{{ asset('images/favicon.ico') }}" />
</head>
<body>
<div id="prompt_message" class="row justify-content-center align-items-center m-0 px-5">
	<div class="col-xl-8 p-5 rounded">
		<p id="prompt_message_text"></p>
		<div>
			<a href="#" id="prompt_message_submit" class="btn btn-primary">
				{% trans from 'base' %}prompt_validate{% endtrans %}
			</a>
			<button class="btn btn-secondary" id="prompt_message_cancel">
				{% trans from 'base' %}prompt_cancel{% endtrans %}
			</button>
		</div>
	</div>
</div>
<section id="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/"><img src="{{ asset('images/logo.png') }}" height="36px" width="36px" alt="logo"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="/" class="nav-link">
							{% trans from 'base' %}index{% endtrans %}
						</a>
					</li>

					{% for p in global_pages %}
						<li class="nav-item">
							<a href="{{ path('page', {'url': p.url}) }}" class="nav-link">
								{{ p.title }}
							</a>
						</li>
					{% endfor %}

					{% if global_config['contact_enable'] %}
						<li class="nav-item">
							<a href="{{ path('contact') }}" class="nav-link">
								{% trans from 'base' %}contact{% endtrans %}
							</a>
						</li>
					{% endif %}

					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a href="{{ path('cblog_admin') }}" class="nav-link">
								{% trans from 'base' %}admin{% endtrans %}
							</a>
						</li>
					{% endif %}

					{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
						<li class="nav-item">
							<a href="{{ path('fos_user_security_logout') }}" class="nav-link">
								{% trans from 'base' %}disconnect{% endtrans %}
							</a>
						</li>
					{% endif %}

					<li class="nav-item dropdown">
						<a
							id="navbarDropdownMenuLink"
							href="#"
							class="nav-link dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
							{% trans from 'base' %}lang{% endtrans %}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							{% for l in global_langs %}
								{% set lang_path = app.request.get('_route') %}
								{% set lang_params = {'lang': l} %}

								{% if lang_path == null %}
									{% set lang_path = 'index' %}
								{% else %}
									{% set lang_params = app.request.get('_route_params')|merge(lang_params) %}
								{% endif %}

								<a href="{{ path(lang_path, lang_params) }}" class="dropdown-item">{{ l }}</a>
							{% endfor %}
						</div>
					</li>

				</div>
			</ul>
		</div>
	</nav>
</section>

<section id="content" class="row no-gutters justify-content-center my-5">
	<div class="col-xl-9 p-4">
		{% block body %}{% endblock %}
	</div>
</section>

<section id="footer">
</section>
</body>
</html>
